body{
    max-width:1920px;
}
footer{
    width: 1920px;
height: 729px;
background: #1D1534;
}
.text1{
position: absolute;
top: 369px;
left: 555px;
    color: #FFF;
font-family: Azo Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.32px;
text-decoration-line: underline;
text-transform: uppercase;
}
.text2{
    position: absolute;
    top: 369px;
    left: 778px;
    color: #FFF;
font-family: Azo Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.32px;
text-decoration-line: underline;
text-transform: uppercase;
}
.text3{
    position: absolute;
    top: 369px;
    left: 982px;
    color: #FFF;
font-family: Azo Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.32px;
text-decoration-line: underline;
text-transform: uppercase;
}
.text4{
    position: absolute;
    top: 369px;
    left: 1282px;
    color: #FFF;
font-family: Azo Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.32px;
text-decoration-line: underline;
text-transform: uppercase;
}
.foto1{
    position: absolute;
    top: 516px;
    left: 173px;
}
.icon1{
    position: absolute;
    top: 509px;
    left: 785px;
}
.ras{
    position: absolute;
    top: 2px;
    left: -30px;
}
.text5{
    width: 430px;
    position: absolute;
    top: 512px;
    left: 1317px;
    color: #FFF;
text-align: right;
font-family: Azo Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px;
}
.text6{
    position: absolute;
    top: 534px;
    left: 1599px;
    color: gray;
text-align: right;
font-family: Azo Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 16.8px */
letter-spacing: 0.24px;
text-decoration-line: underline;
}
